@model Store.Models.Product

@{
    ViewBag.Title = "ProductDetail";
}

<h2>@Model.ProductName</h2>
<p><strong>@Model.ProductPrice</strong></p>
<p>@Model.ProductDescription</p>
<a href="#" class="btn btn-lg btn-default">Add to Cart</a>
<a href="#" class="btn btn-lg btn-default">Checkout</a>

