
@{
    ViewBag.Title = "Index";
}

<h2>Shopping</h2>

<p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>

<div class="row products">
    <div class="col-xs-6 product">
        <div class="well">
            <h4>Beard Wax</h4>
            <p><strong>$5.00</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <a class="btn btn-primary" href="#">Learn More</a>
        </div>
    </div>
    <div class="col-xs-6 product">
        <div class="well">
            <h4>Tree Axe</h4>
            <p><strong>$25.00</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <a class="btn btn-primary" href="#">Learn More</a>
        </div>
    </div>
    <div class="col-xs-6 product">
        <div class="well">
            <h4>Flannel Shirt</h4>
            <p><strong>$45.00</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <a class="btn btn-primary" href="#">Learn More</a>
        </div>
    </div>
    <div class="col-xs-6 product">
        <div class="well">
            <h4>Suspenders</h4>
            <p><strong>$8.50</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <a class="btn btn-primary" href="#">Learn More</a>
        </div>
    </div>
</div>